body{
    margin: 0px;
}
.header,.footer,.banner{
    background-color: #1F2937;
    color: white;
}

.header{
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: rgba(248, 248, 248, 0.904);
}

ul{
    padding-left: 100px;
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 80px;
}

.main-heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero{
    width: 400px;
}

.image{
    display: flex;
    background-color: #a5aaa0;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

